@use '../mixins/responsive.scss' as*;

.developer__img{
    width: 100%;


    @include responsive(tablet){

    }

    @include responsive(laptop){

    }
}

.developer__text{
    width: 100%;

    @include responsive(tablet){

    }

    @include responsive(laptop){
        width: 35%;
    }
}